{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock %}


{% block content%}

<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img class="rounded-xl" src="{% if product.image %}{{ product.image.url }}https://via.placeholder.com/240x240x.jpg{% else %}{% endif %}" alt="">
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">
            {{ product.name }}
        </h1>

        <p class="mt-1 text-gray-400">
            ${{ product.get_display_price }}
        </p>

        {% if product.description %}
            <p class="mt-4 text-gray-700">
            {{ product.description}}
            </p>
        {% endif %}

        <!-- Adding functionality to be able to add product to cart -->
        <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text-white hover:bg-purple-700"
            hx-get="{% url 'add_to_cart' product.id %}"
            hx-target="#menu-cart-button"
            hx-swap="outerHTML"
        >
            Add to cart
        </a>
    </div>

    <div class="w-full mt-4">
        <h2 class="text-xl">Reviews</h2><br/>

        {% if request.user.is_authenticated%}
           <form action="." method="POST" class="mt-6 mb-6 p-6 bg-gray-100 rounded-xl">
                {% csrf_token %}
                <!-- Field for selecting the rating and one for filling out the content -->
                <div>
                    <label for="">Rating</label> <br/>

                    <select name="rating" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <div>
                     <label for="">Comment</label><br/>

                     <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>

                <div>
                    <button>Submit</button>
                </div>
           </form> 
        {% endif %}

        {% for review in product.reviews.all %}
           <div class="px-4 py-6 bg-gray-100 rounded-xl mb-4">
                <strong>Rating</strong> {{ review.rating }}/6
                <br/>
                <strong>Comment:</strong>
                <br/>
                {{ review.content }}
           </div>
        {% endfor %}
    </div>

</div>

{% endblock %}