{% extends 'core/base.html' %}

{% block content%}

<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="filters w-full lg:w-1/4">
        <h3 class="mb-3 text-xl uppercase">
            Search
        </h3>
 
        <form method="get" action=".">
            <div class="flex">
                <input type="text" name="query" class="p-4 bg-gray-100 border-0" placeholder="Search.."/>

                <button class="p-4 bg-gray-100 border-0">
                    <!-- TODO:Add search icons from heroicon -->
                </button>
            </div>
        </form>

        <h3 mt-6 class="mb-3 text-xl uppercase">
            Categories
        </h3>

        <ul class="space-y-2">
            <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-purple-500{% else %}text-gray-500{% endif %}">All Categories</a></li>

            {% for category in categories %}
            <li><a href="{% url 'shop' %}?category={{ category.slug}}" class="{% if category.slug == active_category%}text-purple-500{% else %}text-gray-500{% endif %}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
 
    </div>

    <div class="products w-full lg:w-3/4 -mt-4 flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list_item.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}